*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  height:100vh ;
  width: 100%;
  background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw8NEBAPDxANDQ8QDw8PDQ0PDQ8NDw0OFREWFhURFRUYHSggGBolGxMVITIhJSkrLy4uFx8/ODMtQygtLisBCgoKDg0OFRAQFy8fHR0rLSsrNzAtNSstLS43LTcrNTUuNzAvLSstLi8rKy0rLSsvLS0rKy0rKysrNystLS0tLf/AABEIAMIBAwMBIgACEQEDEQH/xAAbAAADAQEBAQEAAAAAAAAAAAAAAQIDBAUGB//EADoQAAICAQMCBAIIAwgDAQAAAAABAgMRBBIhEzEFQVFxImEGFCMygZGhsRVSYjNCQ1Ny0fDxc4KiJP/EABkBAQEBAQEBAAAAAAAAAAAAAAABAgMEBf/EACsRAQEAAgEDAgMIAwAAAAAAAAABAhEDEiExQfAEcYETIlGRscHR4RQyYf/aAAwDAQACEQMRAD8A/KQADq5gAAAAAABAMAKRJQFRNYoiKNoIqLjA6YRJribJFEKPmUkXJcBFdvcI0UEUqkNRKUShRjgeCsBgCcAMYEiaTKwJtARt9GGWu6LQAQmMbimTtfk/zGwwFux3Q00wABgDaQGAHzQABhoAAAAhgAhgICkhoUSogawR0VIwrOmC7FR0QRqkZI3iUQxwXK9xMupcoI3iikgSKwAgHgAJwA8AAhYKACRSLAoxywTNhYAgTivQ0ADLY/J/mLLXdfka4DAGW9AaYAD5cAAw0AAAAAAAAQwBFxIRpADapHTA560bxZYjeHc3iYRRq2UI1p7/AJmbNNP3/AI6kMEPIUAMTQTRYEygYVKDBMbovzx7miCJwIsWAJArAsAIMBgAEAwKEAxAfKgAGGgwGCAQAwAAAAGjStEJGkANom1aMomkGVHREuPcyjI0fYodkknyY6m9wW5ZSxlSw8P2Zz6y1SaSzKWOIx5bfsfU6J6tV6KEbZ6fT16aMNXGe2O+xzscopSWc7XBZ4JZnbJjNm8JLcrr9y8L+qyjp9FqXdVq9QnOGpri7FFzb2VWQ81heWGvU9arwz+F9Gq7SX+JT1kpV6jVUVTur0+nziP1bbn7RPE25fy4weTpvGbqLZTrlTFuU1VN0Vu6lSjtWyzunt4yY+G6zVaWE4abU6mmNnModRy+Nz2vG7LjJyzysMmc67ZZqemqxJljJcbu3zv9nvL6IaqNuy2zSaap29Oq6+5VyvTeIuFfdt/yvDPE1NMqpzrlxKucoSX9UW0/2MtJ4pTCCr8Uq1WrdNz1Gj12nth9aqb+9GcrH9pHdFPl9z6vX6fQ6zV1br9RRd4jXVqNKo0RtokpVrcm8pqSlCXn5onXqXc8EmXVq3e3ygExbwnjyyNS+TNtsHp36o6IxxwhNjTAYhgBMnjkUJZ7FmdUNq/UIoMDACQAApAABHyg0IZloAhMGAMABAAAAFRNYmUDVFGtZtEyrNIiIuorUrMGTWRrb9kWijp8DvsVOohTxfGUHW1GMpzUnjas+Z6niEdrqjJxndXp64aiSe7/APR8Tnz5vLxx6GfhWm+pS0/wuy3WRk3qYPMKa0n8FbX9/nmXkuxzxg47ovvGTi/dcGZlc5Mt9p2+bVwx47cbPvXV+TOjNs9qW/c9u1Ze7PG1pcx5xiWHh4yd7c5dSVOLYU7ZWWKDwpZSU8p8Zk935+R5egu6V1c3HdstjJJxrbk1JPbF4cm3jHGO56c9NdR1I6VXWVahJJ1JyhfHhxy1xn3+Z0mO443LV1UXUw1Fax8Pw4jHO6UUlhRS9F5yeMtvg9P6HePuqzTaHVUQ1FdTslotVDbDUaPEZTlhviSxnj9zmhU6Yxqbi3GKjbiVjj1vvSinGW1tbkuV5LDaaPIhq7NLq6L6YwtsrtWyma3RtcvhdbXzUmvxM5bkXUynd9L4n4TCqmvU6e6vVaO7Mabo/DPKT+GUHymsf9HmI+n+mekWnhp9PTWq9Np4zqxB7oR1MsWThn1SlHGfmfMDt6HHu4y02AMA0AAAoEuy9hsSAAGIJSYihMBCGBVfKAAGFAhiAAAAAIgEQLRrAyRrFlGseB7sJslEyt8pKSg+8ox3tfhkb0Tu7fCNPPWK1VyjCdajt3L4Zt54b8uy5O5+G0zj0bZWaXVP7sdRt6Vj81CcVhr8c/I5fo/KzTynLSvT6uM9rnV1HVesekZe59PV4zprl0dTB0OXDp1deyMvZy+GR4OXm5Jl28Pp8HBxZYTfa/8AfH5vn/CrrNDnTap21R3p0Jw6kIOXwysjJZTSTzgqMNrlHdGaUmlOL3Rmv5k/mfSz+j+I401zhW+fq16+s6Z+2fih+DPJ1Ph1lH9rRZSv82ly1en93hdSC90zpxfF4Zdt69+/xcOb4LPDd1v37/B5M6E3n1ynjh7fNJ+WTp007IppTnHKeVGUox3SjN/dzjhuC/8AU06LSjNOM4Szttrkp1yfopLz+T5HuS78HsmXrK8OWPpYuPHyz5eke6j88cpP0PL689PqqLoR6kq765xht3ub3LEUvNno0zla2qoStcfvuKxCtes5v4Yr5tovQ+Hu+2Oyy62yLzCPhlU9XbGX/mWK4e+5mM+THHzWpx3KeOz2/pHq4aWeroTnKev1Neqs35klFpdOFUf5m205d+Ejy9Xo7dO1G6uyltZirIShuXqs9z7f6NfQzWVNSppo8NljH1zVT/ifiO199seKqn7ZPb8U8L8P8Oqtv1WoV+tlTbGvUa7URndKbg8KqHChz5Qijxf52HXrGb39f6bnFZjJb4fk7ASXCfk+z8n7DPoOQAAATGhMYUCGACAACEAwA+SAAMtEAxAAAAAGQEwLiaJ4Rmi/Qo2gaRM4lZ4CE9PGbzjDXaS4afrk7afEdVVHY5Q1dXZ06mPVTXpnv+eTnrLmzOWGOXmN4cmWH+tet4b43potJT1Hhc/5c9fRt/6X91e20+r0/il6jGUoV6uv/P0Ut/GO7qbyvwcj85dkW1FJzk+0Ypyb/BHo6LwDWRxZTGWiffqTuVKfvHnP4o8PP8Nx+uX5+9vfwfFcnjp38vev0foPh/hWi8SU5aXUVafWf4lLjhW+i1GneHJcd8KS8mfI6nwK96xaTpzdreFo42fG5rlp2Y4pxiXUxnbKP958evorYThGvxTUeFaqMfuyyoX1v1U4tYftg301Phiu6r8WucXWqun/ABDZLpqW7Z1l8bjnyycOLlvHubt+m2+bivJert+j1Kvo1o9EoLxO2mc3jp6JtV6SMu+K9PnNkv6pbpM+j0HisoJvTaXZVGPF2pcfD9NFezTn/wDP4ngQ1M4Jx8H/AIPp1L71kLVfq7Pm5zXf3yfMeN6PXZ6mtjqLGv8AFsl1YR9msxj+hjD4ec1+9n9L/H9uXJyZYY2dL6zxj6WQaas1917y/sPCK1pq2n5S1NjlJ/6oOL9EfKW+OKMnLTaTSaaWMfWJx+va1/N33Z/b8Tyn5e4I+nx/C8eEeG52tNTq7bnutnbbL+aybm/ZZ7L5IzT9wGehkAABCYxMYUAAAAhiCUATkAPlAYAZaDEAAAAAAAAA8lxM0aRYGqZSfBmjRFQ9Jb1Hti4ZzhRlNRlL2XmFsXPOJ1KMUt1jsXTi28KLl68djLQ8X1t4X3uXx5EUrqU2VJxVnVVm2UlHdHa1w36ZNSSxm2yvW02osp6kKunpI1qHUs3qMpqX3W7WsvPywuTLUOPUULtkpOKkrLbN0ZJ9mpPPcOtXJXReyxRhpq8ObirNuW2mucJv9Dl8Qu3uD+GKXTjFLtGC7IdGGPg+05MvN7PUroStjSuk7JtrbGSfTxHLc+Ph4HVFWKzPRrVdiqm7ZqtdRt4iuP6Wcz1dMbNXdKec7aq+lKHU2vG6SzxjCxn5m+o8Rpirpw+r3q3U6e3pT+PC6eZPCfDUm/zN6xc+rP0i34XXY7N60lbpbVytsjGVfKSk+HiLysPzydnh1+t0cJ3aXVXUVwqotnDq9WqVds5QhHpyTi+YyyvQ8/V3RcvEtst/V6XSazLqLepPGF5L9j1NNsuovo6nSc9L4dXGc6dRKO6uVsrI/BB8rcjGWOGU1Wplnj39+jV2T1UtL9lp6bdVVZcuk3CmcIb8ycMfZv7OfCynx2M7aJVqG7H2lVV0cPOIWQU45+eJLJtpttcaL82ylo9FqdIqFpNVvuufVjCyEnDbsfUTy2msdjfxR1TjVZXcpONGlpdLpvrnDp0RhJtzil3j5PzJJJNQmeVy7x5zGLIw6AAE0AP/AG/cZG3H5hgCwIYsgaEtmbkzOybwBq2ByrPz/MYR8+wEpAZaAAAALInL0EkQWJjEUMecCF5gbJmkWYplORRrsT/4ibJuKfPZekf9hxCaT7ksN1vXN7ZfFPdGNUnL4dsupHdhLHlxznnkUdRZmaUptxqlNJPvJNYX6mcJNR2bpOPDUW8pNZ7endmmxJqSymuzTaaMzDs3c+7o8Q1NtMpxhbclFtf2su679j0NbbKFUHG/UOeYqe3Vah89GubU8tJSzPjblYPJXPfkuJfs52T7S93f4ZZO2N0p33JpONEXqrY7rIxc5cZ54SWP6jm02pkroK6V8qdtsrIq+xNqNU5JJ575Sx6vAVJeiLmOjynV4b63TwhY4xcbFGNa6iblGb2R3SWX5vLHCTXZI52xRkbk1GNuxSl6Ibta7p/gmcys+ZrGT9fMCqrJN88L2wb7jHn5A5Nd1+TCtJSDevUylZ8mvwJc0/QqNsibMuBOS9f1A0bM7exO/wDqRMp/NfkwNYLhAZdR+sfzGQfPARu/5yJsxtpW4TeRDQUFJCSGyoUmCENANsBIoB5KyZspMDaLCTIixNlRqmbSZypm2PcDSLLizGJS4KOmLfqVl57mcHwipSAuc0TFrzM5PP8AsCRUdCmvVG0P34OWuK81k6a+y/Ug2jPgUp/oSny/zFL7r9mwquvH18xxa57Y7o4F3OvGMAaOK9DJwXL9Ow22hZwscBGWB4GwZRIgwBB4QihNGWiGgwAFCkPIgEA2IBjASAYxMGwHkeSWJsC1I16rObJSkEddb4LTMIS4RakUdEWPd+hjGQ2yjVP/ALKhyQpFwYRrFG0Dnhl5N61hJFVeXz7Eybx68DyDIOdR5Rt1MteRLLKipPPYS7Ci/wBwkwpYJ8hdQTmggyBO8APGExiMNATGIABMBAPIyA3A0vIIlMsAEwbGwGQyyGAmAMGiDaJSZKGjQ1UismSLQRaZvXI54msCo6oGhjWzXIFZDIsibAGw3Gc5/IndL2KNYyFKRlz6iwBbkTlCDJFPIicgB5QABlQAAACAAAUgAikiogADiUAFQzMAAcO6NJeYAA0MAKLRQAEOBp5iAo6azUAKgJYwAhgAEEoTAAqRMYAIAAD/2Q==);
  background-size: cover;
  background-size: center;
  position: relative ;
}
.navbar{
  width: 88%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 0;
  cursor: pointer;
  
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 15px;
}
.navbar ul li a{
  text-decoration: none;
  color:grey;
  font-size: 1px;
}
.content{
  width: 100%;
  position: absolute;
  top: 30%;
}
.left-col{
  margin-left: 6%;
}
.left-col h1{
  font-size: 90px;
  color: white;
  line-height: 110px;
  float: left;
}
.right-col{
  float: right;
  margin-right: 6%;
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.right-col p{
  font-size: 18px;
  color: white;
  font-weight: 400px;
  margin-right: 15px;

}
#icon{
  width: 80px;
  cursor: pointer;

}
